## Put your GitHub credentials here to avoid getting rate limited
## GITHUB_TOKEN=<your-token-here>

## Use to lock to a specific commit version from upstream from the tools repo
## UMA_TOOLS_REF=<branch|tag|sha>

## Use to lock to a specific commit version from upstream from the skill tools repo
## UMA_SKILL_TOOLS_REF=<branch|tag|sha>

## Whether to run in production mode (enables PWA features, service worker, etc)
## Set to false for local dev to avoid caching issues
PROD=false
